@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-content {
  max-width: 1120px;
  margin: 0 auto;
}

header {
  background-color: #202020;
  padding: 30px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Fira Code", sans-serif;
  font-size: 1.2em;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

header .container a {
  text-decoration: none;
  color: #fefbfb;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #fefbfb;
  padding: 20px;
  -webkit-transition: all 250ms linear 0s;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
}

.hello-world {
  background: #181818;
  height: 91vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 300px;
}

.hello-world img {
  width: 600px;
  height: 600px;
}

.hello-world aside {
  font-size: 22px;
  width: 550px;
  color: #ddd;
  font-family: "Fira Code", sans-serif;
  line-height: 30px;
}

.hello-world .text::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  -webkit-animation: pisca 0.7s infinite;
          animation: pisca 0.7s infinite;
}

@-webkit-keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.hello-world .btnLetsTalk {
  background-color: #5429cf;
  color: #fff;
  padding: 15px 25px;
  max-width: 250px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Fira Code", sans-serif;
}

.hello-world .btnLetsTalk:hover {
  cursor: pointer;
  background-color: #7137fb;
}

.about {
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  padding: 50px;
}

.about h2 {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 35px;
}

.about aside img {
  max-width: 800px;
}

.about main {
  color: #fff;
  width: 35%;
  font-size: 18px;
  font-family: "Fira Code", "sans-serif";
  line-height: 27px;
}

.about main .btnLetsTalk {
  background-color: #5429cf;
  color: #fff;
  padding: 15px 25px;
  max-width: 250px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Fira Code", sans-serif;
}

.about main .btnLetsTalk:hover {
  cursor: pointer;
  background-color: #7137fb;
}

.projects {
  background: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  color: #fff;
  font-family: "Fira Code", "sans-serif";
}

.projects h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.projects article {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.projects article > div {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc(33% - 10%);
      flex-basis: calc(33% - 10%);
  background: #202020;
  padding: 30px 25px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  border: 3px solid #202020;
}

.projects article > div > a {
  text-decoration: none;
  color: #5429cf;
}

.projects article > div > a:hover {
  color: #fefbfb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.skills {
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  padding: 50px;
}

.skills h2 {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 35px;
}

.skills aside img {
  max-width: 800px;
}

.skills main {
  color: #fff;
  width: 35%;
  font-size: 18px;
  font-family: "Fira Code", "sans-serif";
  line-height: 27px;
}

.skills .progress-bar-HTML,
.skills .progress-bar-CSS,
.skills .progress-bar-SASS,
.skills .progress-bar-JS,
.skills .progress-bar-React,
.skills .progress-bar-Git {
  height: 2.5px;
  border-radius: 5px;
  background-color: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.skills .progress-bar-HTML::before {
  content: "";
  width: 85%;
  border-radius: 5px;
  background-color: #ff4c17;
}

.skills .progress-bar-CSS::before {
  content: "";
  width: 85%;
  border-radius: 5px;
  background-color: #0176bf;
}

.skills .progress-bar-SASS::before {
  content: "";
  width: 75%;
  border-radius: 5px;
  background-color: #7b3e5c;
}

.skills .progress-bar-JS::before {
  content: "";
  width: 50%;
  border-radius: 5px;
  background-color: #f7e017;
}

.skills .progress-bar-React::before {
  content: "";
  width: 10%;
  border-radius: 5px;
  background-color: #61dbfb;
}

.skills .progress-bar-Git::before {
  content: "";
  width: 75%;
  border-radius: 5px;
  background-color: #f05030;
}

.skills .skills-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inline-block;
      -ms-flex-pack: inline-block;
          justify-content: inline-block;
  padding: 5px;
}

.skills .skills-lang .fa-html5 {
  color: #ff4c17;
  width: auto;
  margin-left: 10px;
  font-size: 25px;
}

.skills .skills-lang .fa-css3-alt {
  color: #0176bf;
  width: auto;
  margin-left: 10px;
  font-size: 25px;
}

.skills .skills-lang .fa-sass {
  color: #7b3e5c;
  width: auto;
  margin-left: 10px;
  font-size: 25px;
}

.skills .skills-lang .fa-js-square {
  color: #f7e017;
  width: auto;
  margin-left: 10px;
  font-size: 25px;
}

.skills .skills-lang .fa-react {
  color: #61dbfb;
  width: auto;
  margin-left: 10px;
  font-size: 25px;
}

.skills .skills-lang .fa-git-alt {
  color: #f05030;
  width: auto;
  margin-left: 10px;
  font-size: 25px;
}

.skills article {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.skills article > div {
  height: auto;
  width: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #181818;
  padding: 25px 20px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  border: 3px solid #181818;
  font-size: 15px;
}

.skills article > div > span {
  color: #757575;
  padding: 10px 0;
}

.skills article > div > a {
  text-decoration: none;
  color: #5429cf;
}

.skills article > div > a:hover {
  color: #fefbfb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #181818;
  color: #fefbfb;
  font-family: "Fira Code", sans-serif;
  padding: 50px 0 10px 0;
}

footer p {
  padding: 30px;
}

footer .email {
  font-size: 17px;
  background: #202020;
  border-radius: 20px;
  padding: 10px 20px;
}

footer a {
  background: #202020;
  text-decoration: none;
  color: #fefbfb;
  padding: 10px 35px;
  border-radius: 20px;
}

footer div {
  margin: 50px 0;
}

footer div a:hover {
  background: #5429cf;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Animação */
[data-anime] {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

[data-anime="bottom"] {
  -webkit-transform: translate3d(0, 150px, 0);
          transform: translate3d(0, 150px, 0);
}

[data-anime="top"] {
  -webkit-transform: translate3d(0, -150px, 0);
          transform: translate3d(0, -150px, 0);
}

[data-anime].animate {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

/* media queries */
@media (max-width: 1440px) {
  .hello-world {
    gap: 50px;
  }
  .hello-world img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 1024px) {
  .about main {
    width: 40%;
  }
  .about aside img {
    width: 350px;
    height: auto;
  }
  .skills aside img {
    width: 350px;
    height: auto;
  }
  .skills main {
    width: 70vw;
  }
}

@media (max-width: 768px) {
  .hello-world {
    background: #181818;
    height: 91vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 100px;
  }
  .hello-world aside {
    width: 75%;
  }
  .hello-world img {
    width: 400px;
    height: auto;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about main {
    width: 70vw;
  }
  .about aside img {
    width: 350px;
    height: auto;
  }
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills aside img {
    width: 350px;
    height: auto;
  }
  .skills main {
    width: 70vw;
  }
}

@media (max-width: 715px) {
  header {
    /* Fullscreen */
  }
  header nav {
    display: none;
  }
  header .one,
  header .two,
  header .three {
    background: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    border-radius: 10px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  header .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }
  header .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #202020;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu-section.on nav {
    display: block;
  }
  header .menu-section.on nav ul {
    text-align: center;
    display: block;
  }
  header .menu-section.on nav ul a {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }
  header .menu-section.on .menu-toggle {
    position: absolute;
    right: 0;
    top: 30px;
    right: 60px;
  }
  header .menu-section.on .menu-toggle .one {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
  }
  header .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  header .menu-section.on .menu-toggle .three {
    -webkit-transform: rotate(-45deg) translate(8px, -9px);
            transform: rotate(-45deg) translate(8px, -9px);
  }
}

@media (max-width: 580px) {
  .hello-world img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 425px) {
  .hello-world main img {
    width: 225px;
    height: auto;
  }
  .about aside img {
    width: 225px;
    height: auto;
  }
  .skills aside img {
    width: 225px;
    height: auto;
  }
  footer .email {
    font-size: 14px;
  }
  footer a {
    padding: 10px 40px;
  }
  footer .fa-github {
    margin-top: 30px;
  }
}

@media (max-width: 360px) {
  footer a {
    padding: 10px 80px;
  }
  footer .fab {
    padding: 10px 0px;
    margin-top: 10px;
  }
  footer .fa-github {
    padding: 10px 7.5px;
  }
}

@media (max-width: 320px) {
  footer .email {
    font-size: 14px;
  }
  footer a {
    padding: 10px 80px;
  }
  footer .fab {
    padding: 10px 0px;
    margin-top: 10px;
  }
  footer .fa-github {
    padding: 10px 7.5px;
  }
}
/*# sourceMappingURL=main.css.map */